<div class="topsmith-page page-components">

    <fieldset class="topsmith-fieldset">
        <legend>Available Components</legend>

        <label class="topsmith-field">
            <span class="topsmith-label">Calendar</span>
            <span  class="topsmith-value">
                <section data-modux-component="topsmith-component-calendar"></section>
            </span>
        </label>

        <label class="topsmith-field">
            <span class="topsmith-label">Clock</span>
            <span  class="topsmith-value">
                <section data-modux-component="topsmith-component-clock"></section>
            </span>
        </label>

        <label class="topsmith-field">
            <span class="topsmith-label">Datatable</span>
            <span  class="topsmith-value">
                <section data-modux-component="topsmith-component-datatable" data-columns="[ 'Column 1', 'Column 2', 'Column 3' ]" data-data="[ [ 1,2,3 ], [ 4,5,6 ], [ 7,8,9 ] ]"></section>
            </span>
        </label>

        <label class="topsmith-field">
            <span class="topsmith-label">Html Editor</span>
            <span  class="topsmith-value">
                <section data-modux-component="topsmith-component-html-editor"></section>
            </span>
        </label>

    </fieldset>
    
</div>