:root {
    // Colors
    --color-background-primary: #444444;
    --color-background-secondary: #222222;
    --color-background-tertiary: #333333;
    --color-background-quaternary: #FFC64D;
    --color-text-primary: #DDDDDD;
    --color-text-secondary: #999999;
    --color-text-tertiary: #FFC64D;
    --color-text-quaternary: #333333;
    --color-error: #FF8888;
    --color-valid: #88FF88;
}