.section-components {
    display: block;
    width: 15em;

    .section-components-header {
        padding: 1em;
        font-family: 'Montserrat', sans-serif;
    }

    hr {
        border: 0;
        border-top: 1px solid var(--color-text-secondary);
    }

    ul {
        padding: 2em;

        li {
            height: 2.5em;
            list-style-type: square;
            color: var(--color-text-secondary);

            a {
                display: inline-block;
                box-sizing: border-box;
                text-decoration: none;
                color: var(--color-text-secondary);
                padding: 0.2em 0.2em;

                &:hover, &:active, &.active {
                    color: var(--color-text-tertiary);
                }
            }
        }
    }
}