<div class="topsmith-page page-calendar">

    <h2>Calendar</h2>

    <h4>A custom built date picker</h4>
    <section data-modux-component="topsmith-component-calendar"></section>
    
    <br/><br/>
    
    <h4>HTML Usage:</h4>
    <div>You can instance a calendar element directly from HTML by simply adding the attribute <code class="topsmith-highlight">[data-modux-component="topsmith-component-calendar"]</code> to an element. For this to work, you need to load the calendar component in the application: <code class="topsmith-highlight">topsmith.registerComponent( ComponentCalendar )</code></div>
    <br/>
    <textarea class="topsmith-textarea" readonly>
&lt;section data-modux-component="topsmith-component-calendar"&gt;&lt;/section&gt; 
    </textarea>

    <br/><br/>

    <h4>JS Usage:</h4>
    <div>Considering we have the following element:</div>
    <br/>
    <textarea class="topsmith-textarea" readonly>
&lt;div id="calendar"&gt;&lt;/div&gt; 
    </textarea>
    <br/><br/>
    <div>In order to create the calendar component on the element, you would need to add this to the <code>execute()</code> method of your page controller.</div>
    <br/>
    <textarea class="topsmith-textarea" readonly>
let calendar = topsmith.renderComponent( this.element.querySelector( '#calendar' ), ComponentCalendar )
calendar.set( 'date', '1984-07-22' )
calendar.set( 'days', 'D,L,M,M,J,V,S' )
    </textarea>

    <br/><br/>

    <div>You can customize the component by changing the properties via HTML attributes or js with <code class="topsmith-highlight">object.set( property, value)</code></div>

    <br/><br/>

    <div class="table">
        <span class="cell header">Property</span>
        <span class="cell header">HTML Attribute</span>
        <span class="cell header">Type</span>
        <span class="cell header">Default</span>

        <span class="cell">name</span>
        <span class="cell">data-name</span>
        <span class="cell">String</span>
        <span class="cell">&nbsp;</span>

        <span class="cell">locked</span>
        <span class="cell">data-locked</span>
        <span class="cell">String | Boolean</span>
        <span class="cell">false</span>

        <span class="cell">days</span>
        <span class="cell">data-days</span>
        <span class="cell">String | Array</span>
        <span class="cell">S,M,T,W,T,F,S</span>

        <span class="cell">months</span>
        <span class="cell">data-months</span>
        <span class="cell">String | Array</span>
        <span class="cell">JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC</span>

        <span class="cell">date</span>
        <span class="cell">data-date</span>
        <span class="cell">String | Date</span>
        <span class="cell">new Date()</span>
    </div>

</div>