.topsmith-side-content {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    .topsmith-side-content-overlay {
        // @include bp-m {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     background-color: rgba(0, 0, 0, 0.7);
        // }    
    }

    .topsmith-side-content-icons {
        display: flex;
        position: relative;
        box-sizing: border-box;
        height: 100%;
        flex-direction: column;
        color: var(--side-font-color);
        background-color: var(--side-background-color);
        border-right: 2px solid var(--side-border-color);
        padding: 1em 0.5em;
    
        .topsmith-side-content-logo {
            display: block;
            width: var(--side-logo-image-width);
            box-sizing: border-box;
    
            .topsmith-side-content-logo-image {
                display: block;
                width: 100%;
            }
        }
    
        .topsmith-side-content-navigation {
            display: flex;
            box-sizing: border-box;
            width: 100%;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;
            margin: 1em 0;
        }
    
        .topsmith-side-content-menu {
            display: flex;
            box-sizing: border-box;
            width: 100%;
            flex-direction: column;
            align-items: center;
            margin: 1em 0 0;
        }
    
        .topsmith-side-content-icon {
            position: relative;
            color: var(--side-navigation-icon-color);
            background-color: var(--side-navigation-icon-background-color);
            margin: 0.3em;
            padding: 0.5em 0.6em 0.4em;
            border-radius: 6px;
            cursor: pointer;
    
            & > * {
                font-size: var(--side-navigation-icon-size);
                width: var(--side-navigation-icon-size);    
            }
    
            &:hover {
                color: var(--side-navigation-icon-color-hover);
                background-color: var(--side-navigation-icon-background-color-hover);
    
                &::after {
                    content: attr(data-tooltip);
                    position: absolute;
                    box-sizing: border-box;
                    top: calc(50% - 1.2em);
                    left: calc(100% + 0.5em);
                    padding: 1em;
                    font-size: 0.7em;
                    text-transform: uppercase;
                    color: var(--side-navigation-icon-tooltip-color);
                    background-color: var(--side-navigation-icon-tooltip-background-color);
                    @include shadow(0px 0px 0.2em var(--side-navigation-icon-tooltip-shadow-color));
                    border-radius: 6px;
                    z-index: 100;
                }    
            }
    
            &.active {
                color: var(--side-navigation-icon-color-hover);
                background-color: var(--side-navigation-icon-background-color-hover);
            }
        }
    }

    .topsmith-side-content-sections {
        display: block;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background-color: var(--side-background-color);
        border-right: 2px solid var(--side-border-color);

        & > * {
            padding: 10px;
        }
    }
}