.topsmith-side-content {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    @include bp-m {
        display: none;

        &.open {
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
        }
    }

    .topsmith-side-content-overlay {
        @include bp-m {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
        }    
    }

    .topsmith-side-content-icons {
        z-index: 2;

        display: flex;
        position: relative;
        box-sizing: border-box;
        width: calc(var(--side-logo-image-width) + 1.2em);
        height: 100%;
        flex-direction: column;
        color: var(--side-font-color);
        background-color: var(--side-background-color);
        border-right: 2px solid var(--side-border-color);
        padding: 1em 0.5em;
    
        .topsmith-side-content-logo {
            display: block;
            width: var(--side-logo-image-width);
            box-sizing: border-box;
    
            .topsmith-side-content-logo-image {
                display: block;
                width: 100%;
            }
        }
    
        .topsmith-side-content-navigation {
            display: flex;
            box-sizing: border-box;
            width: 100%;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;
            margin: 1em 0;
        }
    
        .topsmith-side-content-menu {
            display: flex;
            box-sizing: border-box;
            width: 100%;
            flex-direction: column;
            align-items: center;
            margin: 1em 0 0;
        }
    
        .topsmith-side-content-icon {
            position: relative;
            color: var(--side-icon-color);
            background-color: var(--side-icon-background-color);
            margin: 0.3em;
            padding: 0.5em 0.6em 0.4em;
            border-radius: 6px;
            cursor: pointer;
            text-decoration: none;
    
            & > * {
                font-size: var(--side-icon-size);
                width: var(--side-icon-size);    
            }
    
            &::before {
                content: attr(data-counter);
                position: absolute;
                box-sizing: border-box;
                bottom: 0;
                right: 0;
                font-size: 0.6em;
                text-transform: uppercase;
                border-radius: 5px;
                padding: 2px 3px;
                overflow: hidden;
                text-align: center;
                color: var(--side-icon-counter-color);
                background-color: var(--side-icon-counter-background-color);
            }
            &[data-counter=""]::before {
                display: none;
            }

            @include hasHover() {
                &:hover {
                    color: var(--side-icon-color-hover);
                    background-color: var(--side-icon-background-color-hover);
        
                    &::after {
                        content: attr(data-tooltip);
                        position: absolute;
                        box-sizing: border-box;
                        top: calc(50% - 1.2em);
                        left: calc(100% + 0.5em);
                        padding: 1em;
                        font-size: 0.7em;
                        text-transform: uppercase;
                        color: var(--side-icon-tooltip-color);
                        background-color: var(--side-icon-tooltip-background-color);
                        @include shadow(0px 0px 0.2em var(--side-icon-tooltip-shadow-color));
                        border-radius: 6px;
                        z-index: 1;
                    }
                    &[data-tooltip=""]::after {
                        display: none;
                    }    
                }
            }
    
            &.active {
                color: var(--side-icon-color-hover);
                background-color: var(--side-icon-background-color-hover);
            }
        }
    }

    .topsmith-side-content-sections {
        z-index: 1;

        display: block;
        position: relative;
        box-sizing: border-box;
        height: 100%;
        background-color: var(--side-background-color);
        border-right: 2px solid var(--side-border-color);
        overflow: auto;

        @include bp-m {
            max-width: calc(85% - calc(var(--side-logo-image-width) + 1.2em));
        }

        & > * {
            display: block;
            width: 100%;
            padding: 1em;
            box-sizing: border-box;
        }
    }
}