.page-account {
    display: block;

    #calendar, #clock {
        display: inline-block;
        vertical-align: top;
    }

    #html-editor {
        height: 50em;
    }

    #datatable {
        .position-left {
            text-align: left;
        }
        .position-center {
            text-align: center;
        }
        .position-right {
            text-align: right;
        }
    }
}