<div class="component-html-editor">
    <div class="component-html-editor-toolbar">
        <span class="component-html-editor-toolbar-button component-html-editor-toolbar-button-edit active">
            <span class="material-symbols-rounded">edit</span>
        </span>
        <span class="component-html-editor-toolbar-button component-html-editor-toolbar-button-view">
            <span class="material-symbols-rounded">visibility</span>
        </span>
    </div>

    <textarea class="component-html-editor-edit topsmith-textarea"></textarea>
    <iframe class="component-html-editor-view hide"></iframe>
</div>