.component-clock {
    display: flex;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
    font-size: var(--component-clock-font-size);
    background-color: var(--component-clock-background);
    border: 2px solid var(--component-clock-border-color);
    width: 9.7em;

    .component-clock-graphic {
        display: block;
        position: relative;
        width: 7.2em;
        height: 7.2em;
        margin: auto;
        margin-bottom: 0.3em;
        background-color: var(--component-clock-panel-background);
        border-radius: 8em;
        border: 1px solid var(--component-clock-panel-border-color);
        @include shadow(0px 0px 5px 0px var(--component-clock-panel-border-color));

        &::after {
            content: ' ';
            position: absolute;
            top: 47.5%;
            left: 47.5%;
            width: 5%;
            height: 5%;
            background-color: var(--component-clock-text-color);
            border-radius: 50%;
        }

        .component-clock-labels {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            .component-clock-labels-number {
                position: absolute;
                font-size: 0.63em;
                top: calc(50% - 1em);
                left: calc(50% - 1em);
                line-height: 2em;
                width: 2em;
                height: 2em;
                text-align: center;
                color: var(--component-clock-text-color);
            }
        }

        .component-clock-graphic-hour {
            display: block;
            position: absolute;
            left: 50%;
            top: calc(50% - 0.25em);
            width: 30%;
            height: 0.5rem;
            background-color: var(--component-clock-panel-hand-hour);
            clip-path: polygon(0% 50%, 20% 0%, 100% 50%, 20% 100%, 0% 50%);
            transform-origin: 0% 50%;
        }

        .component-clock-graphic-minute {
            display: block;
            position: absolute;
            left: 50%;
            top: calc(50% - 0.25em);
            width: 40%;
            height: 0.5rem;
            background-color: var(--component-clock-panel-hand-minute);
            clip-path: polygon(0% 50%, 20% 0%, 100% 50%, 20% 100%, 0% 50%);
            transform-origin: 0% 50%;
        }

        .component-clock-graphic-second {
            display: block;
            position: absolute;
            left: 50%;
            top: calc(50% - 0.25em);
            width: 45%;
            height: 0.5rem;
            background-color: var(--component-clock-panel-hand-second);
            clip-path: polygon(0% 30%, 100% 50%, 0% 70%);
            transform-origin: 0% 50%;
        }
    }

    .component-clock-graphic-ampm {
        display: block;
        position: absolute;
        box-sizing: border-box;
        font-size: 0.5em;
        padding: 0.5em;
        left: calc(100% - 3.4em);
        top: 68%;
        color: var(--component-clock-text-color);
        border: 1px solid var(--component-clock-border-color);
        border-radius: 2px;
    }

    .component-clock-fields {
        display: flex;
        width: 100%;
        color: var(--component-clock-text-color);

        & > span {
            text-align: center;
            width: 3em;
        }

        & > input {
            text-align: center;
            width: 100%;
            appearance: none;
            color: var(--component-clock-text-color);
            background-color: var(--component-clock-background);
            border: 2px solid var(--component-clock-border-color);
            outline: 0;
        }
    }

    .component-clock-input {
        display: none;
    }
}