<div class="component-clock">
    <div class="component-clock-graphic">
        <div class="component-clock-labels"></div>
        <span class="component-clock-graphic-hour"></span>
        <span class="component-clock-graphic-minute"></span>
        <span class="component-clock-graphic-second"></span>
    </div>
    <span class="component-clock-graphic-ampm"></span>
    <div class="component-clock-fields">
        <input class="component-clock-hours" type="number" min="0" max="24"/>
        <span>:</span>
        <input class="component-clock-minutes" type="number" min="0" max="60"/>
        <span>:</span>
        <input class="component-clock-seconds" type="number" min="0" max="60"/>
    </div>
    <input class="component-clock-input" type="time" step="1"/>
</div>