.topsmith-frame {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    position: relative;
    flex-direction: row;

    background-color: var(--general-background-color);
    color: var(--general-font-color);
    font-family: var(--general-font-family);
    font-size: var(--general-font-size);

    .topsmith-side {
        z-index: 2;
    }

    .topsmith-content {
        z-index: 1;

        flex-grow: 1;
        display: flex;
        box-sizing: border-box;
        width: 100%;
        flex-direction: column;
        align-items: stretch;

        @include bp-m {
            &.scroll-lock {
                overflow: hidden;
                height: 100vh;
                min-height: 100vh;
            }
        }

        .topsmith-header {
            z-index: 3;
        }
        .topsmith-main {
            z-index: 1;
        }
        .topsmith-footer {
            z-index: 2;
        }
    }

    .topsmith-popup {
        z-index: 3;
    }
}