@import 'variables.scss';

html, body {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
}

// FORM CONTROLS

.topsmith-field {
    display: flex;
    position: relative;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 10px 0;

    .topsmith-label {
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        width: 30%;
        padding: 5px 0;
        font-size: var(--label-font-size);
        color: var(--label-color);    
    }

    .topsmith-value {
        display: block;
        position: relative;
        box-sizing: border-box;
        width: calc(70% - 15px);
        margin-left: 15px;
        margin-right: 5px;
    }

    &.required {
        .topsmith-value {
            &::before {
                display: block;
                content: '*';
                position: absolute;
                font-size: calc(var(--label-font-size) * 1);
                top: 0;
                left: -10px;
                color: var(--color-error);
            }
        }
    }

    &.error {
        .topsmith-value{
            &::after {
                content: attr(data-error);
                position: relative;
                color: var(--color-error);
                font-size: 0.8em;
                margin: 5px;
            }
        }
        .topsmith-input, .topsmith-checkbox, .topsmith-radio {
            box-shadow: 0 0 2px 1px var(--color-error);
        }
    }

    @include bp-l {
        flex-wrap: wrap;

        .topsmith-label {
            width: 100%;
        }
    
        .topsmith-value {
            width: 100%;
            margin-left: 0;
        }
    }
}

.topsmith-input {
    display: block;
    box-sizing: border-box;
    font-size: var(--input-font-size);
    color: var(--input-color);    
    width: 100%;
    padding: 13px;
    border-radius: 5px;
    border: 0;
    background-color: var(--input-background-color);
    outline: 0;

    &:focus {
        box-shadow: 0 0 2px 1px var(--input-outline-color);
    }
}

.topsmith-button {
    display: inline-block;
    box-sizing: border-box;
    padding: 1em 3em;
    width: auto;
    font-size: var(--button-font-size);
    font-weight: 500;
    color: var(--button-text-color);
    background-color: var(--button-background-color);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    outline: 0;

    &.highlight {
        color: var(--button-color-highlight);
        background-color: var(--button-background-color-highlight);
    }

    &:focus {
        box-shadow: 0 0 2px 1px var(--button-outline-color);
    }

    @include hasHover() {
        &:hover {
            color: var(--button-color-active);
            background-color: var(--button-background-color-active);
        }

        &.highlight:hover {
            color: var(--button-color-highlight-active);
            background-color: var(--button-background-color-highlight-active);    
        }
    }
}

.topsmith-checkbox {
    position: relative;
    appearance: none;
    background-color: var(--checkbox-background-color);
    margin: 0;
    width: 2em;
    height: 2em;
    border: 1px solid var(--checkbox-border-color);
    border-radius: 5px;
    transform: translateY(0.5em);
    outline: 0;

    &::before {
        content: ' ';
        position: absolute;
        left: 0.35em;
        top: 0.35em;
        width: 1.2em;
        height: 1.2em;
        transform: scale( 0 );
        transition: 120ms transform ease-in-out;
        background-color: var(--checkbox-color);
        transform-origin: bottom left;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }
      
    &:checked::before {
        transform: scale( 1 );
    }

    &:focus {
        box-shadow: 0 0 2px 1px var(--checkbox-outline-color);
    }
}

.topsmith-radio {
    position: relative;
    appearance: none;
    background-color: var(--radio-background-color);
    margin: 0;
    width: 2em;
    height: 2em;
    border: 1px solid var(--radio-border-color);
    border-radius: 5px;
    transform: translateY(0.5em);
    outline: 0;

    &::before {
        content: ' ';
        position: absolute;
        left: 0.35em;
        top: 0.35em;
        width: 1.2em;
        height: 1.2em;
        transform: scale( 0 );
        transition: 120ms transform ease-in-out;
        border-radius: 5px;
        background-color: var(--radio-color);
        transform-origin: bottom left;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }
      
    &:checked::before {
        transform: scale( 1 );
    }

    &:focus {
        box-shadow: 0 0 2px 1px var(--radio-outline-color);
    }
}

.topsmith-select {
    display: block;
    box-sizing: border-box;
    position: relative;
    font-size: var(--select-font-size);
    color: var(--select-color);
    width: 100%;
    padding: 13px;
    border-radius: 5px;
    border: 0;
    background-color: var(--select-background-color);
    outline: 0;
    appearance: none;

    & > option {
        box-sizing: border-box;
        padding: 13px;
        margin: 10px;
        border-radius: 5px;

        &:checked, &:hover {
            color: var(--select-outline-color);
            background-color: var(--select-outline-background-color);
        }
    }

    &:focus {
        box-shadow: 0 0 2px 1px var(--select-outline-color);
    }
}

.topsmith-fieldset {
    display: block;
    box-sizing: border-box;
    margin: 5px 0;
    padding: 1em;
    border-radius: 5px;
    border: 2px solid var(--fieldset-border-color);

    & > legend {
        font-weight: 500;
        color: var(--fieldset-color);
    }
}

.topsmith-textarea {
    display: block;
    box-sizing: border-box;
    font-size: var(--textarea-font-size);
    color: var(--textarea-color);    
    width: 100%;
    padding: 13px;
    border-radius: 5px;
    border: 0;
    background-color: var(--textarea-background-color);
    outline: 0;
    resize: none;
    height: 15.7em;
    white-space: pre;

    &:focus {
        box-shadow: 0 0 2px 1px var(--textarea-outline-color);
    }
}

.topsmith-progress {
    display: block;
    width: 100%;
    height: 3em;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid var(--progress-bar-background-color);
    position: relative;

    &[value]:after {
        content: attr(value) '%';
        position: absolute;
        font-size: var(--progress-font-size);
        font-weight: 500;
        left: 50%;
        top: calc(50% - var(--progress-font-size) / 2 );
        color: var(--progress-color);
    }

    &::-webkit-progress-bar {
        border-radius: 5px;
        overflow: hidden;
        background-color: var(--progress-bar-background-color);
    }

    &::-webkit-progress-value {
        background-color: var(--progress-bar-color);
        background-size: 4em 100%;
        background-image: linear-gradient( 135deg, transparent, transparent 33%, rgba(0,0,0,.03) 33%, rgba(0,0,0,.03) 66%, transparent 66%)
    }
}

.topsmith-highlight {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: var(--code-font-size);
    color: var(--color-text-quaternary);
    background-color: var(--code-background-color);
}