@import 'variables.scss';

html, body {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
}

// FORM CONTROLS

.topsmith-field {
    display: flex;
    position: relative;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 10px 0;

    .topsmith-label {
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        width: 30%;
        padding: 5px;
        font-size: var(--label-font-size);
        color: var(--label-color);    
    }

    .topsmith-value {
        display: block;
        position: relative;
        box-sizing: border-box;
        width: calc(70% - 15px);
        margin-left: 15px;
        margin-right: 5px;
    }

    .topsmith-input {
        display: block;
        box-sizing: border-box;
        font-size: var(--input-font-size);
        color: var(--input-color);    
        width: 100%;
        padding: 13px;
        border-radius: 5px;
        border: 0;
        background-color: var(--input-background-color);
        outline: 0;

        &:focus {
            box-shadow: 0 0 2px 1px var(--input-outline-color);
        }
    }

    &.required {
        .topsmith-value {
            &::before {
                display: block;
                content: '*';
                position: absolute;
                font-size: calc(var(--label-font-size) * 1);
                top: 0;
                left: -10px;
                color: var(--color-error);
            }
        }
    }

    &.error {
        .topsmith-value{
            &::after {
                content: attr(data-error);
                position: relative;
                color: var(--color-error);
                font-size: 0.8em;
                margin: 5px;
            }
        }
        .topsmith-input {
            box-shadow: 0 0 2px 1px var(--color-error);
        }
    }

    @include bp-l {
        flex-wrap: wrap;

        .topsmith-label {
            width: 100%;
        }
    
        .topsmith-value {
            width: 100%;
            margin-left: 0;
        }
    }
}

.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 1em 3em;
    width: auto;
    font-size: var(--button-font-size);
    font-weight: 500;
    color: var(--button-text-color);
    background-color: var(--button-background-color);
    border-radius: 5px;
    border: 0;
    cursor: pointer;

    &.highlight {
        color: var(--button-color-highlight);
        background-color: var(--button-background-color-highlight);
    }

    @include hasHover() {
        &:hover {
            color: var(--button-color-active);
            background-color: var(--button-background-color-active);
        }

        &.highlight:hover {
            color: var(--button-color-highlight-active);
            background-color: var(--button-background-color-highlight-active);    
        }
    }
}

.topsmith-checkbox {
    appearance: none;
    background-color: var(--checkbox-background-color);
    margin: 0;
    width: 2em;
    height: 2em;
    border: 1px solid var(--checkbox-border-color);
    border-radius: 5px;
    transform: translateY(0.5em);

    &::before {
        content: ' ';
        position: absolute;
        left: 0.35em;
        top: 0.35em;
        width: 1.2em;
        height: 1.2em;
        transform: scale( 0 );
        transition: 120ms transform ease-in-out;
        background-color: var(--checkbox-color);
        transform-origin: bottom left;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        outline: 0;
      }
      
      &:checked::before {
        transform: scale( 1 );
      }

      &:focus {
        box-shadow: 0 0 2px 1px var(--input-outline-color);
      }
}

.topsmith-radio {
    appearance: none;
    background-color: var(--checkbox-background-color);
    margin: 0;
    width: 2em;
    height: 2em;
    border: 1px solid var(--checkbox-border-color);
    border-radius: 5px;
    transform: translateY(0.5em);

    &::before {
        content: ' ';
        position: absolute;
        left: 0.35em;
        top: 0.35em;
        width: 1.2em;
        height: 1.2em;
        transform: scale( 0 );
        transition: 120ms transform ease-in-out;
        border-radius: 5px;
        background-color: var(--checkbox-color);
        transform-origin: bottom left;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        outline: 0;
      }
      
      &:checked::before {
        transform: scale( 1 );
      }

      &:focus {
        box-shadow: 0 0 2px 1px var(--input-outline-color);
      }
}

.topsmith-fieldset {
    display: block;
    box-sizing: border-box;
    margin: 5px 0;
    padding: 1em;
    border-radius: 5px;
    border: 1px solid var(--fieldset-border-color);
    box-shadow: 0 0 2px 1px var(--fieldset-border-color);

    & > legend {
        font-weight: 500;
        color: var(--fieldset-color);
    }
}