<div class="component-datatable">
    <div class="component-datatable-header">
        <div class="component-datatable-header-label"></div>
        <span class="component-datatable-header-search-icon material-symbols-rounded">search</span>
        <input class="component-datatable-header-search"/>
    </div>
    <div class="component-datatable-table">
        <table>
            <thead>
                <tr></tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="component-datatable-footer">
        <button class="component-datatable-footer-prev">&lt;&lt;</button>
        <span class="component-datatable-footer-text">1 / 1</span>
        <button class="component-datatable-footer-next">&gt;&gt;</button>
    </div>
</div>